@import "styles/framework";

:host {
  display: block;
}

.exchange {
  float:left;
  margin: 10px;
}

.exchange-box {
  @include box-shadow(gray 2px 2px 10px);
  @include border-radius(4px);
  background-color: #cccccc;
  padding: 10px;
}

.delete {
  cursor: pointer;
  color: #aa0000;
}

