@import "app/styles/functions/compass_compact";
@import "bower_components/compass-mixins/lib/compass";

:host {
  display: block;
}

.remittance {
  float:left;
  margin: 10px;
}

.remittance-box {
  @include box-shadow(gray 2px 2px 10px);
  @include border-radius(4px);
  background-color: #cccccc;
  padding: 10px;
}
