@import "styles/framework";
@import "components-font-awesome/scss/font-awesome";

:host {
  display: block;
}

.remittance {
  float:left;
  margin: 10px;
}

.remittance-box {
  @include box-shadow(gray 2px 2px 10px);
  @include border-radius(4px);
  background-color: #cccccc;
  padding: 10px;
}

i.delete {
  cursor: pointer;
  color: #aa0000;
}
